{{ attach_library('movie/movie') }}

<h1 style="margin-bottom: 20px" >Selected movie</h1>


  <div style="margin-bottom: 40px">
    <img src={{ file_url(movie.field_image.entity.uri.value) }} alt="{{ movie.field_image.alt }}" width={{ movie.field_image.width}} height={{ movie.field_image.height}}>
    <h3>{{ movie.label }}</h3>
    <p>{{ movie.field_description.value | raw}}</p>
    <p>{{ movie.field_genre.0.entity.name.value }}</p>
    <h4>Available to watch on: </h4>

    <form action="/movie-reservation" method="post">
      <input id="customerName" name="customerName" type="text" maxlength="10" autocapitalize="words" placeholder="Enter your name...">
      <br>
      <select name="day" id="day">
        {% for day in movie.field_available_on %}
          <option value="{{ day.entity.name.value }}">{{ day.entity.name.value }}</option>
        {% endfor %}
      </select>

      <input
        id="submit"
        type="submit"
        value="Confirm your movie reservation"
        data-movie-title="{{ movie.label }}"
        data-movie-genre="{{ movie.field_genre.0.entity.name.value }}"
      >
    </form>
  </div>
